# Allgemein
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# Go
server/bin/
server/build/
server/dist/
server/coverage/
server/.cache/

# Flutter/Dart
client/.dart_tool/
client/.flutter-plugins*
client/.packages
client/build/
client/coverage/
client/*.iml
client/.idea/
client/.vscode/

# Node/Web
node_modules/

# Env
.env

